{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div style="height: 100vh">
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">

            <div class="">
                <h1>Grupa 5</h1>
            </div>

            <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
                <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
                    <h1 class="text-center mb-4">Login</h1>

                    {{ form_start(loginForm) }}
                    <div class="mb-3">
                        {{ form_row(loginForm.username, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(loginForm.password, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(loginForm.submit, { 'attr': {'class': 'btn btn-primary w-100'} }) }}
                    </div>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
