{% extends 'base.html.twig' %}

{% block title %}Weryfikacja dwuskładnikowa{% endblock %}

{% block body %}
    <div class="container">
        <h1>Weryfikacja dwuskładnikowa</h1>
        <p>Wprowadz 6-cyfrowy kod, który został wysłany na Twój adres email.</p>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.code) }}
            {{ form_widget(form.code, { 'attr': {'class': 'form-control', 'placeholder': 'Kod'} }) }}
            {{ form_errors(form.code) }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Zweryfikuj</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
